@use 'sass:math';
@import './breakpoints';
/*
screen types: 
    mobile,
    to-tablet
    tablet,
    to-desktop
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == to-tablet {
    @media screen and (max-width: $to-tablet) {
      @content;
    }
  } @else if $_screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $_screen == to-desktop {
    @media screen and (max-width: $to-desktop) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

@mixin google-store {
  display: flex;
  width: 288px;
  height: 56px;
  padding: 12px 24px 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 32px;
  background: $_accent_color;
  font-family: 'SemiBold';
  font-weight: 600;
  @include font(24, 36);
  color: $_main_bg_color;
  transition: $_transition;

  @include media(desktop) {
    width: 312px;
    height: 64px;

    &:hover,
    &:focus {
      outline: 6px solid $_hover_button;
    }
  }
}

@mixin text-style($width, $span-color: $accent-color) {
  width: $width;
  font-family: 'Regular2';
  font-weight: 400;
  @include font(16, 24);

  & span {
    font-family: 'Bold';
    font-weight: 700;
    color: $span-color;
  }

  @include media(desktop) {
    @include font(24, 36);
  }
}
