.title {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Regular';
  font-weight: 400;
  @include font(32, 43.2);
  text-transform: uppercase;
  color: $_accent_color;

  @include media(desktop) {
    margin-bottom: 80px;
    text-transform: none;
    @include font(56, 75.6);
  }
}

.policies-main-title {
  font-family: 'Bold';
  font-weight: 700;
  @include font(24, 36);

  @include media(desktop) {
    @include font(48, 72);
  }
}

.policies-secondary-title {
  font-family: 'Bold';
  font-weight: 700;
  @include font(20, 30);

  @include media(desktop) {
    @include font(24, 36);
  }
}

.policies-text {
  font-family: 'Regular2';
  font-weight: 400;
  @include font(16, 24);

  & span {
    font-family: 'Bold';
    font-weight: 700;
  }

  @include media(desktop) {
    @include font(18, 27);
  }
}
