$_main_color: #ebe9ff;
$_accent_color: #e2d115;
$_main_bg_color: #130b62;
$_disclaimer_bg: #160f64;
$_hero_one_color_gradient: #7366fb;
$_hover_button: #4153f3;
$_line_color: #a097ff;
$_card_bg: rgba(70, 61, 177, 0.6);
$_shadow_color: rgba(0, 0, 0, 0.15);
$_circle: #ff4fc3;
$_ellipse: #887fe8;

$_transition: all 0.3s linear;
