.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: $_transition;
  background-color: transparent;

  &.scrolled {
    background-color: $_main_bg_color;
    opacity: 0.98;
  }
}

.header-container {
  max-width: 320px;
  padding: 11px 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include media(desktop) {
    max-width: 1096px;
    padding: 17px 0;
  }
}

.logo {
  width: 63px;
  height: 48px;

  &:hover,
  &:focus {
    scale: 1.1;
    transition: $_transition;
  }

  &:focus {
    outline: 1px solid $_main_color;
  }

  @include media(desktop) {
    width: 85px;
    height: 64px;
  }
}

.burger {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;

  @include media(desktop) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 760px;
  }
}

.nav-link {
  font-family: 'Regular2';
  font-weight: 400;
  @include font(18, 24.3);

  &:hover,
  &:focus {
    color: $_accent_color;
    transition: $_transition;
  }

  &:focus {
    outline: 1px solid $_main_color;
  }
}
