<section id="advantages" class="section-advantages">
  <div class="container advantages-stars">
    <h2 class="title">Advantages</h2>
    <ul class="advant-list">
      <li class="advant-item">
        <picture>
          <source
            srcset="
              ./img/advantages/advant-01-desktop.webp    1x,
              ./img/advantages/advant-01-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/advant-01-mobile.webp    1x,
              ./img/advantages/advant-01-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/advantages/advant-01-mobile.webp"
            alt="Match-3 game with a puppy character and colorful game elements"
            width="100%"
            height="100%"
            class="advant-img"
          />
        </picture>
        <p class="advantages-text">
          <span>Engaging Gameplay:</span> Experience the joy of solving
          intricate match-3 puzzles with unique twists
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source
            srcset="
              ./img/advantages/advant-02-desktop.webp    1x,
              ./img/advantages/advant-02-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/advant-02-mobile.webp    1x,
              ./img/advantages/advant-02-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/advantages/advant-02-mobile.webp"
            alt="Colorful game graphics with a variety of colorful balls and objects"
            width="100%"
            height="100%"
            class="advant-img"
          />
        </picture>
        <p class="advantages-text">
          <span>Visual Delight:</span> Enjoy colorful, high-quality graphics
          that bring each level to life
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source
            srcset="
              ./img/advantages/advant-03-desktop.webp    1x,
              ./img/advantages/advant-03-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/advant-03-mobile.webp    1x,
              ./img/advantages/advant-03-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/advantages/advant-03-mobile.webp"
            alt="Characters celebrating victory in a dynamic level with various challenges"
            width="100%"
            height="100%"
            class="advant-img"
          />
        </picture>
        <p class="advantages-text">
          <span>Varied Levels:</span> Overcome diverse and dynamic challenges as
          you progress
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source
            srcset="
              ./img/advantages/advant-04-desktop.webp    1x,
              ./img/advantages/advant-04-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/advant-04-mobile.webp    1x,
              ./img/advantages/advant-04-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/advantages/advant-04-mobile.webp"
            alt="Puppy character in a decorated home environment with rewards"
            width="100%"
            height="100%"
            class="advant-img"
          />
        </picture>
        <p class="advantages-text">
          <span>Decorative Elements:</span> Earn rewards to decorate and
          personalize the puppy's home
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source
            srcset="
              ./img/advantages/advant-05-desktop.webp    1x,
              ./img/advantages/advant-05-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/advant-05-mobile.webp    1x,
              ./img/advantages/advant-05-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/advantages/advant-05-mobile.webp"
            alt="Family characters enjoying the game, suitable for all ages"
            width="100%"
            height="100%"
            class="advant-img"
          />
        </picture>
        <p class="advantages-text">
          <span>Family Friendly:</span> Perfect for players of all ages with its
          easy-to-learn mechanics.
        </p>
      </li>
    </ul>
  </div>
</section>
