<section id="benefits">
  <div class="container bg-img">
    <h2 class="title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ./img/benefits/benefits-stars-desktop.png    1x,
              ./img/benefits/benefits-stars-desktop@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/benefits/benefits-stars-mobile.png    1x,
              ./img/benefits/benefits-stars-mobile@2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/benefits/benefits-stars-mobile.png"
            alt="girl and dog"
          />
        </picture>
        <p class="item-number-text">4,8</p>
      </li>
      <li class="benefits-item">
        <p class="item-number-title">50 000 +</p>
        <p class="item-text">Downloads</p>
      </li>
      <li class="benefits-item">
        <p class="item-number-title">1000 +</p>
        <p class="item-text">Reviews</p>
      </li>
      <li class="benefits-item">
        <p class="item-text-two">Online/ Offline</p>
      </li>
    </ul>
  </div>
</section>
