<section id="faq" class="faq-section">
  <div class="container faq-bg-element">
    <h2 class="title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-item-title">How do I get more lives?</h3>
        <p class="faq-item-text">
          Lives regenerate over time, or you can purchase them.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">Can I play with friends?</h3>
        <p class="faq-item-text">
          Yes, connect through social media to compete against friends.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">Are there in-app purchases?</h3>
        <p class="faq-item-text">
          Yes, you can buy special items to ease gameplay.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">What if I get stuck on a level?</h3>
        <p class="faq-item-text">
          Use boosters to help clear difficult puzzles.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">Is this game suitable for children?</h3>
        <p class="faq-item-text">
          Absolutely, it’s designed for all age groups.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">How often are new levels added?</h3>
        <p class="faq-item-text">
          New levels and features are regularly updated.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-item-title">Can I play offline?</h3>
        <p class="faq-item-text">
          You need an internet connection for updates and social features.
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./img/faq/faq-logo-desktop.webp    1x,
          ./img/faq/faq-logo-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/faq/faq-logo-mobile.webp    1x,
          ./img/faq/faq-logo-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <img
        src="./img/faq/faq-logo-mobile.webp"
        alt="logo"
        width="280"
        height="210"
        class="faq-logo"
      />
    </picture>
    <a
      href="https://play.google.com/store/apps/details?id=puppy.diary.puzzle.eliminate.blast.cure.free.android"
      aria-label="link to google store"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      <svg width="32" height="32">
        <use href="./icons/sprite.svg#google-playstore" />
      </svg>
      Google Store
    </a>
  </div>
</section>
