<section id="gallery">
  <div class="container gallery-element">
    <h2 class="title">Gallery</h2>
    <div class="image-slider swiper-container swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-slider_image">
            <img
              srcset="
                ./img/gallery/slide-01-mobile.webp    1x,
                ./img/gallery/slide-01-mobile@2x.webp 2x
              "
              src="./img/gallery/slide-01-mobile.webp"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-slider_image">
            <img
              srcset="
                ./img/gallery/slide-02-mobile.webp    1x,
                ./img/gallery/slide-02-mobile@2x.webp 2x
              "
              src="./img/gallery/slide-02-mobile.webp"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-slider_image">
            <img
              srcset="
                ./img/gallery/slide-03-mobile.webp    1x,
                ./img/gallery/slide-03-mobile@2x.webp 2x
              "
              src="./img/gallery/slide-03-mobile.webp"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-slider_image">
            <img
              srcset="
                ./img/gallery/slide-04-mobile.webp    1x,
                ./img/gallery/slide-04-mobile@2x.webp 2x
              "
              src="./img/gallery/slide-04-mobile.webp"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
