<header class="header js-menu-container">
  <div class="header-container">
    <a href="./index.html" class="logo">
      <img src="./img/logo.png" alt="logo" />
    </a>
    <button
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      class="burger js-close-menu js-open-menu"
      data-modal-open
    >
      <svg width="28" height="20" aria-label="open mobile menu">
        <use href="./icons/sprite.svg#burger" />
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a href="#" class="nav-link">Home</a>
        </li>

        <li>
          <a href="#" class="nav-link">Gallery</a>
        </li>

        <li>
          <a href="#" class="nav-link">Advantages</a>
        </li>

        <li>
          <a href="#" class="nav-link">About This Game</a>
        </li>

        <li>
          <a href="#" class="nav-link">Benefits</a>
        </li>

        <li>
          <a href="#" class="nav-link">How to Play</a>
        </li>

        <li>
          <a href="#" class="nav-link">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
