<section id="hero" class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">Ready for a paw-some puzzle adventure?</h1>
    <p class="slogan">
      Download <span>"Puppy Diary: Puzzle Blast"</span> now and start your
      joyful journey of puzzle-solving and puppy pampering!
    </p>
    <picture>
      <source
        srcset="
          ./img/hero/hero-desktop.webp    1x,
          ./img/hero/hero-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/hero-mobile.webp    1x,
          ./img/hero/hero-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <img
        src="./img/hero/hero-mobile.webp"
        alt="running girl and dog"
        width="100%"
        height="100%"
        class="image"
      />
    </picture>
    <a
      href="https://play.google.com/store/apps/details?id=puppy.diary.puzzle.eliminate.blast.cure.free.android"
      aria-label="link to google store"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      <svg width="32" height="32">
        <use href="./icons/sprite.svg#google-playstore" />
      </svg>
      Google Store
    </a>
    <div class="wrapper">
      <div class="warning">
        <svg width="51" height="46">
          <use href="./icons/sprite.svg#exclamation-mark" />
        </svg>
        <p>DISCLAIMER</p>
      </div>
      <p class="warning-text">
        WINSTARTSPACE.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
        WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN
        REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF
        AGE. ENJOY PLAYING THIS GAME!
      </p>
    </div>
  </div>
</section>
