<div class="modal-container is-hidden" data-modal>
  <ul>
    <li class="modal-item" data-modal-close>
      <a href="#" class="js-nav-ref">Home</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">Gallery</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">Advantages</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">About This Game</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">Benefits</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">How to Play</a>
    </li>
    <li class="modal-item">
      <a href="#" class="js-nav-ref">FAQ</a>
    </li>
  </ul>
</div>
