<section id="play">
  <div class="container play-bg-element">
    <h2 class="title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
        <img
          srcset="./img/play/play-01.webp 1x, ./img/play/play-01@2x.webp 2x"
          src="./img/play/play-01.webp"
          alt="Hand pointing at game tiles"
          width="200"
          height="176"
        />
        <p class="play-text">
          Match three or more similar tiles to clear them from the board
        </p>
      </li>
      <li class="play-item">
        <img
          srcset="./img/play/play-02.webp 1x, ./img/play/play-02@2x.webp 2x"
          src="./img/play/play-02.webp"
          alt="Duck icon with number 48"
          width="200"
          height="176"
        />
        <p class="play-text">
          Complete level objectives within limited moves to progress
        </p>
      </li>
      <li class="play-item">
        <img
          srcset="./img/play/play-03.webp 1x, ./img/play/play-03@2x.webp 2x"
          src="./img/play/play-03.webp"
          alt="Colorful ball"
          width="200"
          height="176"
        />
        <p class="play-text">
          Utilize powerful boosters to clear obstacles and achieve goals
        </p>
      </li>
      <li class="play-item">
        <img
          srcset="./img/play/play-04.webp 1x, ./img/play/play-04@2x.webp 2x"
          src="./img/play/play-04.webp"
          alt="Treasure chest filled with gold coins"
          width="200"
          height="176"
        />
        <p class="play-text">
          Engage with special event levels for extra rewards
        </p>
      </li>
      <li class="play-item">
        <img
          srcset="./img/play/play-05.webp 1x, ./img/play/play-05@2x.webp 2x"
          src="./img/play/play-05.webp"
          alt="Puppy character with a flower"
          width="200"
          height="176"
        />
        <p class="play-text">
          Decorate and renovate areas of the home with points earned
        </p>
      </li>
    </ul>
  </div>
</section>
